@charset "utf-8";
header{
    float: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    color: #FFFFFF;
    background-color: #0071B0;
    text-align: left;
}
 {
}
