@charset "utf-8";
body header div {
}
.contactinfo {
    color: #F7F4F4;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: center;
    background-color: #0071B0;
}
.contactinfo {
}
